version: "3.9"

services:
    app1:
      build:
        context: ./app1
      ports:
        - "5001:5000"
    app2:
      build:
        context: ./app2
      ports:
        - "5002:5000"
    nginx:
      build:
        context: ./nginx
      ports:
       - "5008:80"
      depends_on:
          - app1
          - app2  